<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://nos.netease.com/rms/13899-abae7244f79c4d9eb30fbca691df0a97?download=user.png"
    />
    <link rel="stylesheet" href="/netease-ehr-ui/umi.5dbf9520.css" />
    <script>
      window.routerBase = "/netease-ehr-ui/";
    </script>
    <script>
      //! umi version: 3.4.22
    </script>
    <script>
      !(function () {
        var e = localStorage.getItem("dumi:prefers-color"),
          t = window.matchMedia("(prefers-color-scheme: dark)").matches,
          r = ["light", "dark", "auto"];
        document.documentElement.setAttribute(
          "data-prefers-color",
          e === r[2] ? (t ? r[1] : r[0]) : r.includes(e) ? e : r[0]
        );
      })();
    </script>
    <title>Ellipsis 溢出省略</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/netease-ehr-ui/umi.b9e3f455.js"></script>
  </body>
</html>
